/*
    Custom CSS for Litemint Website
*/

@font-face {
    font-family: 'Rajdhani';
    src: url('../fonts/Rajdhani/Rajdhani-Bold.ttf');
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow:hidden;
    -ms-touch-action: none;
}

.center-block {
    display: table; /* Instead of display:block */
    margin-left: auto;
    margin-right: auto;
}

.site-navbar {
    background: white !important;
    transition-duration: 172ms
}

.site-navbar-scrolled {
    box-shadow: 0 2px 4px 0 rgba(70,56,83,0.1);
}

.rounded {
    border-radius: 2%;
}

.command {
    color: #2ac1bc;
    font-family: Rajdhani;
}

.is-not-decorated:hover {
    text-decoration: none;
}

span.part1 {
    font-family: Rajdhani;
    color: #ffdd57;
}

span.part2 {
    font-family: Rajdhani;
    color: #2ac1bc;
}

.site-menu a:hover, .site-menu a:visited, .site-menu a:active, .site-menu a:link, .site-menu a:focus {
    outline: none;
    text-decoration: none
}

.footer {
    border-top: 1px solid #e5e5e5;
    padding: 5px;
}

.footer-quiet {
    padding: 5px;
}

.is-framed-7 {
    margin: 7px
}

.is-offset {
    margin-top: 10px
}

.is-transparent {
    background: none
}

.is-borderless {
    border: none;
    border-radius: 0;
    box-shadow: none
}

a:focus {
    outline: none;
}

a:link, a:active, a:visited, a:hover {
    text-decoration: none;
}


#mainview {
    position: absolute;
    
}

#marketview {
    position: relative;
    height: 100%;
    background-color: #fff;
    float: right;
    overflow: hidden;
    z-index: 9999;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.toggle-wallet-wrapper1 {
    line-height: 15px;
    position: absolute;
    left: -2px;
    top: 50%;
    transform: translateY(-50%);
}

.toggle-wallet-wrapper {
    line-height: 15px;
    position: absolute;
    left: -1px;
    top: -2px;
}

.toggle-wallet-wrapper img {
    max-width: 42px;
    position:fixed;
}

.reset-all {
    all: initial;
}

iframe {
    width: 100%;
    height: 100%;
}

#loader {
    position: absolute;
    width: 100%;
    z-index: 99999;
}

#mobile {
    position: absolute;
    width: 100%;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 99999;
    left: 50%;
    bottom: 30px;
}
    #snackbar.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}
